<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Major+Mono+Display&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="/styles.css">

		<title>{{ .Site.Title }}</title>
	</head>

	<body>
		<div id="app">
			<header>
				<a href="/" class="header-title-link">
					<h1 class="header-title">8 Days</h1>
				</a>
				<span class="header-title-sub">
					00 hours 00 minutes 00 seconds
				</span>
			</header>
			<main>
				<span class="game-genre">a cooperative board game</span>
				<nav>
					<a href="/story">Background of Emergency</a>
					<a href="/procedures">Survival Procedures Rulebook</a>
					<a href="/analysis">Analysis</a>					
					<a href="/gallery">Visual Gallery</a>
					<a href="/log">Meeting Log</a>
					<a href="/authors">Authors</a>
				</nav>

				{{ .Content }}
			</main>
		</div>
	</body>
</html>
